.write {
	&-body {
		width: 90%;
		padding: 1rem;
		margin: 0 auto;
	}
	&-form {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-flow: column;
		&-group {
			width: 90%;
			margin: 0.5rem 0;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 0 0.5rem;
		}
		label {
			padding: 0 0.5rem;
            cursor: pointer;
		}
		input,
		textarea {
			width: 100%;
			background-color: rgba(150, 150, 150, 0.2);
			border-radius: 12px;
			padding: 1rem;
			&:active,
			&:focus {
                background-color: rgba(150, 150, 150, 0.3);
			}
			&[type="color"] {
                width: 2rem;
				height: 2rem;
				margin: 0 0.5rem;
				padding: 0;
				background: none;
                cursor: pointer;
			}
		}
		textarea {
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
}
